:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --muted: #6c757d;
  --emphasis: #495057;
  --border-color: #dee2e6;
  --modal-background: #fff;
  --modal-border-color: #dee2e6;
  --modal-header-background: #f5f5f5;
  --modal-header-border-color: #dee2e6;
  --modal-body-background: #fff;
  --modal-footer-background: #f5f5f5;
  --modal-footer-border-color: #dee2e6;
  --modal-close-color: #000;
  --modal-close-hover-color: #6c757d;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #007bff;
  --secondary: #495057;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #343a40;
  --dark: #f8f9fa;
  --muted: #495057;
  --emphasis: #f8f9fa;
  --border-color: #495057;
  --modal-background: #121212;
  --modal-border-color: #495057;
  --modal-header-background: #212529;
  --modal-header-border-color: #495057;
  --modal-body-background: #121212;
  --modal-footer-background: #212529;
  --modal-footer-border-color: #495057;
  --modal-close-color: #ededed;
  --modal-close-hover-color: #b0bec5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#theme-toggle {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
